<launch>
  <arg name="joy_dev" default="/dev/input/js0" />

  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="$(arg joy_dev)" />
    <param name="deadzone" value="0.1" />
  </node>

  <node pkg="ros_tellopy" type="joy_teleop_node.py" name="joy_teleop" output="screen"/>

</launch>