<launch>
    <arg name="ext_cam_id" default="1"/>
    <arg name="data_only" default="False"/>
    <arg name="use_joy" default="True"/>
    <arg name="config" default="None"/>
    <arg name="dt" default="0.05"/>
    <arg name="is_raw" default="False"/>
    <arg name="joy_dev" default="/dev/input/js0" />

    <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="$(arg joy_dev)" />
    <param name="deadzone" value="0.05" />
    </node>

    <node pkg="ros_tellopy" type="joy_teleop_node.py" name="joy_teleop" output="screen">
        <param name="use_joy" value="$(arg use_joy)"/>
    </node>

    <node pkg="ros_tellopy" type="ros_tellopy_node.py" name="ros_tellopy" output="screen">
        <param name="config" value="$(arg config)"/>
        <param name="dt" value="$(arg dt)"/>
    </node>

    <node name="republish" type="republish" pkg="image_transport" output="screen" args="raw in:=/tello/0/image compressed out:=/tello/0/image/compressed" />

    <node name="ext_cam_node$(arg ext_cam_id)" pkg="crazyflie" type="py3_ext_cam_node.py" output="screen">
        <param name="cam_id" value="$(arg ext_cam_id)"/>
        <param name="is_raw" value="$(arg is_raw)"/>
    </node>

</launch>